<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @enterprise.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @enterprise.type %>
</p>

<p>
  <strong>Country:</strong>
  <%= @enterprise.country %>
</p>

<%= link_to 'Edit', edit_enterprise_path(@enterprise) %> |
<%= link_to 'Back', enterprises_path %>
